* {
    padding:0; margin: 0 0 5px;
}




body {  border: none; background:#494949 ;  }
a { color: #0000A0; }
a:hover { color: #2A7FFF; }
/**главен див **/
.mastar {
    border:none ; background:#494949; width:1366px; height:1000px ; margin:auto;
     padding: 15px; 
}
/** централен див за писане **/
.content { 
    width:850px ;
    height:570px  ;
    margin:auto;
    float: left;
    transition:all 0.5s;
    margin-left: 258px;
    font-family: 'Garamond',sans-serif,;
}
/** лого **/
.logo {
    border-right-style: solid; 
    border-right-color: #fff; 
    border-right-width: 5px;
    width:668px;
    height:250px;
    float:left ;
    margin: 0 ;
    padding: 0 ;
    background-image:url(../images/logo.png);
}
/** чертата **/
hr {
    height:5px;
    background: #fff;
    width:850px;
    border: none;
    margin:auto;
    padding: 0;
    float: left;
    margin-left: 258px;

}
/** десния див на за бутоните **/
#nav-menu ul
{
list-style: none;
padding: 0;
margin: 0;
float: left;
width: 350px;
height: 250px;
font-family: myriad pro, sans-serif;
font-size: 25px;
}
#nav-menu li
{
float: none;
margin: 0 0.15em;
margin-left: 30px;
}
#nav-menu li a
{
background: url(background.gif) #494949 bottom left repeat-x;
height: 2em;
line-height: 2em;
float: left;
width: 9em;
display: block;
border: 0.1em solid #494949;
color: #fff;
text-decoration: none;
text-align: left;
}

p {
    color:#fff;
    font-size: 25px;
    text-align: left;
    
}
span {
    width: 350px;
    height: 127px;
    color: #fff;
    font-size: 25px;
    text-align: left;
    float:left;
}

/* тъпата карта която ме дразни (карта)  */
.map {
    width:425px ;
    height:350px ;
    float: left;
    margin-right: 15px;
    margin-bottom: 25px;
}
/* галерия */


table th{
    color:#fff;
    font-size: 24px;
    text-align:center;
}


td a img{
    border: 3px solid #fff ;
    color:#fff;
    width: 273px;
    height: 273px;

}


td a:hover img {
    border:3px solid #70b8ff;
}